<!-- <a href="" class="custom-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="true" aria-controls="collapseWidthExample">
<img src="../../assets/toggle-arrow.svg" alt="" class="custom-toggle-icon">
</a> -->


<nav class="pageNav navbar-expand-lg hide">
  <!-- <div class="pageNav collapse collapse-horizontal" id="collapseWidthExample"> -->
    <div class="container-fluid column-flex pt-5 pb-3">
      <div class="top-part">
          <div class="logo-section">
        <a routerLink="/" class="logo-home">
            <!-- Upload Logo to Strapi -->
            <img src="../../assets/logo.svg" alt="" class="logo">
        </a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <img src="../../assets/menu-burger.svg" class="navbar-toggler-icon" alt="">
        </button> -->
      </div>
        
        <!-- <div class="collapse navbar-collapse" id="#navbarToggleExternalContent"> -->
          
        <ul class="nav-list mt-5">

            <li class="nav-item">
                <a routerLink="/about">
                    <h3>About</h3>
                </a>
            </li>

            <li class="nav-item accordion-item">

              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">                    
                <h3>Projects</h3>
                </button>

                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordion" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body border-bottom panel">
                    <ul class="menu">
                      <li><a class="nav-item" routerLink="/case-studies" [routerLinkActive]="['active']">
                          <h5>Case Studies</h5>
                      </a>
                  </li>
                      <li><a class="nav-item" routerLink="/web-design">
                          <h5>UI & Web Design</h5>
                      </a>
                  </li>
                      <!-- <li><a class="nav-item" routerLink="/graphic-design">
                          <h5>Graphic Design</h5>
                      </a>
                  </li> -->
  
                    </ul>                  
                  </div>
                </div>

                  
            </li>
        </ul>
</div>

        <div class="bottom-part">
        <h4>Contact Me To Hire:</h4>
        <a href="mailto:aarichyan@gmail.com">
        <div class="icon-contact mt-3">
            <!-- STRAPI! Loop this info -->
            <img class="nav-icon" src="../../assets/mail.svg" alt="">
            <p class="content">{{email}}</p>
        </div>
      </a>
        <a href="tel:+12362348149">
        <div class="icon-contact mt-3">
            <!-- STRAPI! Loop this info -->
            
            <img class="nav-icon" src="../../assets/phone.svg" alt="">
            <p class="content">{{phoneNum}}</p>
        </div>
      </a>

        <div class="social-icons">
            <a href="{{linkedinLink}}" target="_blank" class="soc-link">
                <img src="../../assets/linkedin.svg" alt="" class="soc-icon">
            </a>
            <a href="{{behanceLink}}" target="_blank" class="soc-link">
                <img src="../../assets/behance.svg" alt="" class="soc-icon">
            </a>
            <a href="{{instagramLink}}" target="_blank" class="soc-link">
                <img src="../../assets/instagram.svg" alt="" class="soc-icon">
            </a>

        </div>

        <!-- Should be downloadable -->
        <a href="https://drive.google.com/file/d/12hhvldMy7z6XIjIFn6Wa2uLZiQ7gOv71/view?usp=sharing" target="_blank"><button class="btn light-btn mt-5">Download Resume</button></a>
        <p class="small-text mt-4 margin-bottom-zero">&copy; 2023 Alexandra Sumina. All rights reserved</p>
    </div>
  </div>
  <!-- </div> -->
<!-- </div> -->
</nav>



<!-- MOBILE -->

<nav class="navbar navbar-expand-md bg-light">
  <div class="container-fluid">
    <a routerLink="/" class="logo-home">
      <!-- Upload Logo to Strapi -->
      <img src="../../assets/logo.svg" alt="" class="logo">
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <img src="../../assets/menu-burger.svg" alt="">
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="nav-list mt-5">

        <li class="nav-item">
            <a routerLink="/about" routerLinkActive="active">
                <h3 class="nav-title">About</h3>
            </a>
        </li>

        <li class="nav-item">
          <div class="accordion-item">

            <div class="acc-button flex-align">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">                    
            <h3>Projects</h3>
            </button>

          <div class="arrow"></div>
          </div>

            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordion" aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body border-bottom panel">
                <ul class="menu">
                  <li><a class="nav-item" routerLink="/case-studies" routerLinkActive="active">
                      <h5 class="nav-title margin-bottom-12">Case Studies</h5>
                  </a>
              </li>
                  <li><a class="nav-item" routerLink="/web-design" routerLinkActive="active">
                      <h5 class=" nav-title margin-bottom-12">UI & Web Design</h5>
                  </a>
              </li>
                </ul>
            </div>
            </div>
          </div>
              </li>
                  <!-- <li><a class="nav-item" routerLink="/case-studies">
                      <h5>Graphic Design</h5>
                  </a>
              </li> -->

                </ul>                  


            
    <div class="bottom-part">
      <h4>Contact Me To Hire:</h4>
      <a href="mailto:aarichyan@gmail.com">
        <div class="icon-contact mt-3">
            <!-- STRAPI! Loop this info -->
            <img class="nav-icon" src="../../assets/mail.svg" alt="">
            <p class="content">{{email}}</p>
        </div>
      </a>
        <a href="tel:+12362348149">
        <div class="icon-contact mt-3">
            <!-- STRAPI! Loop this info -->
            
            <img class="nav-icon" src="../../assets/phone.svg" alt="">
            <p class="content">{{phoneNum}}</p>
        </div>
      </a>

      <div class="social-icons">
        <a href="{{linkedinLink}}" target="_blank" class="soc-link">
            <img src="../../assets/linkedin.svg" alt="" class="soc-icon">
        </a>
        <a href="{{behanceLink}}" target="_blank" class="soc-link">
            <img src="../../assets/behance.svg" alt="" class="soc-icon">
        </a>
        <a href="{{instagramLink}}" target="_blank" class="soc-link">
            <img src="../../assets/instagram.svg" alt="" class="soc-icon">
        </a>

      </div>

      <!-- Should be downloadable -->
      <a href="https://drive.google.com/file/d/12hhvldMy7z6XIjIFn6Wa2uLZiQ7gOv71/view?usp=sharing" target="_blank"><button class="btn light-btn mt-5">Download Resume</button></a>
      <p class="small-text mt-4 margin-bottom-zero">&copy; 2023 Alexandra Sumina. All rights reserved</p>
  </div>
    </div>
  </div>


</nav>







<!-- <div class="pageNav">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/case-studies">Case Studies</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Projects
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</div> -->
