<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3 fixed">
            <app-nav-page></app-nav-page>
        </div>

        <!-- BEGINNING -->
        <div class="col-md-3"></div>
        <div class="col-md-9 py-5">
            <h1>Romashka Charity & E-Commerce</h1>
            <div class="container mt-4" >
                <!-- Overview and Problem -->
                <div class="row mt-5 pb-4 border-bottom">
                    <div class="col-12 col-md-5">
                        <h4 class="mb-3">Overview</h4>
                        <!-- interpolate content text -->
                        <p class="content">
                            {{overviewText}}
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-12 col-md-5">
                        <h4 class="mb-3">Challenges</h4>
                         <!-- interpolate content text -->
                        <p class="content">
                            {{challengesText}}
                        </p>
                    </div>

                    <div class="col-md-1"></div>
                </div>

                <!-- Key responsibilities & Timelines -->
                <div class="row mt-4 pb-4 border-bottom">
                    <div class="col-12 col-md-6">
                        <h4 class="mb-3">Key Responsibilities</h4>
                        <!-- interpolate content text -->
                        <p class="content">
                            {{keyResText}}
                        </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <h4 class="mb-3">Timelines</h4>
                         <!-- interpolate content text -->
                        <p class="content">
                            {{timelinesText}}
                        </p>
                    </div>
                </div>


                <!-- EXAMPLE FOR SECTIONS WITH PICS -->


                <!-- Button trigger modal -->
                <div class="row mt-4 pb-4">
                    <h4 class="mb-3">Sketches</h4>
                        <div id="gallery-lightbox" class="sketch col-12 col-md-3 mb-3 mb-md-0" data-bs-toggle="modal"  *ngFor="let sketch of sketches; let i = index" [attr.data-bs-target]="'#staticBackdrop'+i">
                        <img src="{{serverURL + sketch.attributes.formats.medium.url}}" height="400" alt="" class="modal-img"/>
                <!-- <button type="button" class="btn btn-primary" >
                    Launch static backdrop modal
                </button> -->
                
                <!-- Modal -->
                <div class="modal fade sketch-modal" [id]="'staticBackdrop'+i" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{serverURL + sketch.attributes.formats.large.url}}" alt=""/>
                        </div>
                    </div>
                    </div>
                    </div>

                  </div>
        </div>

            <!-- DESIGNS -->
            <div class="row mt-4 pb-4">
                <h4 class="mb-3">Designs</h4>
                    <div id="gallery-lightbox" class="sketch col-12 col-md-3 mb-3 mb-md-0" data-bs-toggle="modal"  *ngFor="let design of designs; let i = index" [attr.data-bs-target]="'#staticBackdrop1'+i">
                    <img src="{{serverURL + design.attributes.url}}" width="250" alt="" class="modal-img"/>
            <!-- <button type="button" class="btn btn-primary" >
                Launch static backdrop modal
            </button> -->
            
            <!-- Modal -->
            <div class="modal fade sketch-modal" [id]="'staticBackdrop1'+i" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{serverURL + design.attributes.url}}" alt="" class="modal-img"/>
                    </div>
                </div>
                </div>
                </div>

              </div>
    </div>

    </div>
    </div>
<!-- </div> -->