@import '../../styles.scss';

.hide{
    display: none;
}

.projContainer{
    max-height: 410px;
    background-color: $lightCream;
    
    // border: 0.5px solid gray;
    // border-radius: 20px;
    .row{
        height: 100%;

    }
    .text{
        padding-left: 30px;
        display: flex;
        align-items: center;

        .content{
            @include content-text();
            max-width: 470px;
        }
    }

    .border-under-proj{
        padding-bottom: 32px;
        border-bottom: 0.5px solid grey;
    }

    .img{
        // background-image: url({{projectImg}});
        // // background-color: grey;
        height: 60%;

        .imgClass{
            border: $border;
            max-height: 100%;
            max-width: 90%;
        }

    }
    
}

@media screen and (max-width: 562px)  {

    // HIDE / SHOW

    .show-mob{
        display: block;
    }

    .hide-mob{
        display: none;
    }

    

    .projContainer{
        max-height: 656px;
        .text{
            padding-left: 0;
        }
        .imgClass{
            max-width: 100% !important;
        }

        

        .img{
            // border-left: 0px;
            max-width: 100% !important;
        }
            .btn {
                width: 100%;
            }
    }
}