@import '../../styles.scss';

.hide{
    display: none;
}

.projContainer{
    height: 375px;
    background-color: $lightCream;
    border: 0.5px solid gray;
    // border-radius: 20px;
    .row{
        height: 100%;
    }
    .text{
        padding-left: 30px;
        display: flex;
        align-items: center;
        .content{
            @include content-text();
        }
    }

    .img{
        // background-image: url({{projectImg}});
        // // background-color: grey;
        height: 100%;
        border-left: 0.5px solid gray ;
        .imgClass{
            max-height: 100%;
            max-width: 100%;
        }

    }
    
}

@media screen and (max-width: 562px)  {

    // HIDE / SHOW



    .projContainer{
        .img{
            border-left: 0px;
        }
    }
}