@import '../../styles.scss';

// DESKTOP

.hide-desk{
    display: none;
}

.show-desk{
    display: block;
}

.hide-bottom{
    overflow-y: hidden;
}

.hideY{
    height: 100vh;
    overflow-y: hidden;
}

.showY{
    overflow-y: visible;
}

.screen{
    animation: fadein 3000ms;
    background-image: url(../../assets/bglines.svg);
    padding: 32px;
    height: 100vh;
    @include startFlex(column, stretch);
    justify-content: space-between;
    .space{
        @include startFlex(row, flex-end);
        justify-content: space-between;
        overflow-x: hidden
    }
    .space-between {
        @include startFlex(row, center);
        justify-content: space-between;
        z-index: 1;
        .soc-icons, .socmedia-resume{
            @include basicFlex();
            gap: 44px;
        }
    }

    .welcome-message {
        border: $border;
        background-color: $lightCream;
        padding: 36px 24px;
        max-height: 480px;
        max-width: 443px;
        .regularh2 {
            font-family: $florenceSans;
            text-transform: none;
        }

        .italich2{
            font-family: $florenceSans;
            font-style: italic;
            text-transform: none;
        }
        .border-bottom{
            padding-bottom: 24px;
            border-bottom: 0.5px grey solid;
        }

        .bottom-part {
            margin-top: 24px;
        }

        .soc-icon{
            width: 28px;
        }
    
    }

    .signage{
        display: flex;
        align-items: center;
        gap: 8px;
        .content{
            margin-bottom: 0;
        }
    }
    
    .icon-contact{
        margin-bottom: 12px;
        @include basicFlex();
        gap: 8px;
        .content{
            margin-bottom: 0;
        }

    }
    
}

@keyframes fadein{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
    }
}

app-nav-page{
    animation: fadein 3000ms;
}

.map{
    animation: fadein 3000ms;
    // transition-delay: 5000ms;
    background-image: url(../../assets/map.svg);
    position: absolute;
    z-index: 0;
    height: 913px;
    width: 1230px;
    background-size: 120%;
    left: 335px;
    bottom: 76px;
    z-index: 0;
    .point-nav{

        .projects{
            position: relative;
            top: 301px;
            left: 633px;
        }
        
        .case-studies{
            position: absolute;
            z-index: 4;
            top: 486px;
            right: 602px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .point-link{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .web-design{
            position: absolute;
            z-index: 3;
            top: 450px;
            left: 724px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .point-link{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }





        .about{
            position: absolute;
            z-index: 2;
            top: 655px;
            left: 954px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .point-link{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        }
        .funstuff{
            position: absolute;
            z-index: 1;
            top: 805px;
            right: 631px;
            display: flex;
        flex-direction: column;
        align-items: center;
            .point-link{
                display: flex;
                flex-direction: column;
                align-items: center;
        }

        }

    }
}


@keyframes underline {
    from {
        content: '';
        display: block;
        width: 0;
        padding-bottom: 4px;
        height: 4px;
        background: $darkGrey;
        transition: width;
    }
    to{
        width: 100%;
    }
}

@keyframes fadeout {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 0;
    }
}

@keyframes opacity {
    from{
        opacity: 0.8;
    }
    to{
        opacity: 0.3;
    }
    to {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes scale {
    from {
        transform: scale(0.9);
    }
    to{
        transform: scale(1);
    }
    
}

.case-studies:hover{
    transform: translateX(14px);
}

.web-design:hover{
    transform: translateX(-14px);
}

.about:hover{
    transform: translateX(-10px);
}

    .point-link:hover{


        // position: fixed;


        .point-text{
            transition: center;
            font-size: 24px;
            text-decoration:solid;
            animation: scale 1000ms;
            }

    .point-icon{
        background-image: url(../../assets/point-hover.svg);
        background-size: cover;
        // animation: fadeout;
        animation: opacity 1000ms;
        animation: scale 1000ms;
        .point{
            visibility: hidden;
        }
    }
    }

    





// MOBILE
@media screen and (max-width: 562px)  {
    .hide{
        display: none !important;
    }
    
    .show {
        display: block;
    }

    .margin-128{
        margin-top: 128px;
    }

    .padding-zero-nav{
        // padding: 0 !important;
        overflow-y: hidden;
    }

    .overflow{
        overflow-x: hidden;
    }

    .space{
        display: block !important;
    }

    .screen{
        height: auto;
        background-image: none;
    }

    .mob-text{
        // padding: 12px 12px !important;
        .content{
            margin-bottom: 0;
        }
    }

    .margin-top-24{
        margin-top: 24px;
    }

    .welcome-message{
        border: 0px solid grey !important;
        background-color: #ffffff00 !important;
        padding: 0 12px !important;
        max-height: 820px !important;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .border-bottom{
        border: 0px;
        margin-bottom: 0;
    }

    .border-bottom-mob{
        padding-bottom: 24px;
         border-bottom: 0.5px grey solid;
         
    }

    }