@import '../../styles.scss';

// DESKTOP

.hide{
    display: none;
}

.show{
    display: block;
}

.screen{
    height: 100vh;
    @include startFlex(column, stretch);
    justify-content: space-between;
    .space{
        @include startFlex(row, flex-end);
        justify-content: space-between;
    }
    .space-between {
        @include startFlex(row, center);
        justify-content: space-between;
        .soc-icons, .socmedia-resume{
            @include basicFlex();
            gap: 44px;
        }
    }

    .welcome-message {
        border: $border;
        background-color: $lightCream;
        padding: 36px 24px;
        height: 435px;
        width: 443px;
        .regularh2 {
            font-family: $florenceSans;
            text-transform: none;
        }

        .italich2{
            font-family: $florenceSans;
            font-style: italic;
            text-transform: none;
        }
        .border-bottom{
            padding-bottom: 24px;
            border-bottom: 1px solid;
        }

        .bottom-part {
            margin-top: 24px;
        }

        .soc-icon{
            width: 28px;
        }
    
    }

    .signage{
        display: flex !important;
        align-items: center;
        gap: 8px;
        .content{
            margin-bottom: 0;
        }
    }
    
    .icon-contact{
        margin-bottom: 12px;
        @include basicFlex();
        gap: 8px;
        .content{
            margin-bottom: 0;
        }

    }
    
}

.map{
    background-image: url(../../assets/map.svg);
    position: absolute;
    height: 932px;
    width: 1230px;
    left: 357px;
    .point-nav{
        
        .projects{
            position: relative;
            top: 347px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .point-text{
                padding: 10px 20px;
                border: $border;
                background-color: $lightCream;
            }

        }
        .about{
            position: relative;
            top: 457px;
            left: 167px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .point-text{
                padding: 10px 20px;
                border: $border;
                background-color: $lightCream;
            }

        }
        .funstuff{
            position: relative;
            top: 427px;
            right: 159px;
            display: flex;
        flex-direction: column;
        align-items: center;
            .point-text{
                padding: 10px 20px;
                border: $border;
                background-color: $lightCream;
            }

        }

    }
}



// MOBILE
@media screen and (max-width: 562px)  {
    .hide{
        display: none;
    }
    
    .show {
        display: block;
    }
    }