@import '../../styles.scss';

// DESKTOP

.hide-desk{
    display: none;
}

.show-desk{
    display: block;
}

.screen{
    background-image: url(../../assets/bglines.svg);
    padding: 32px;
    height: 100vh;
    @include startFlex(column, stretch);
    justify-content: space-between;
    .space{
        @include startFlex(row, flex-end);
        justify-content: space-between;
    }
    .space-between {
        @include startFlex(row, center);
        justify-content: space-between;
        z-index: 1;
        .soc-icons, .socmedia-resume{
            @include basicFlex();
            gap: 44px;
        }
    }

    .welcome-message {
        border: $border;
        background-color: $lightCream;
        padding: 36px 24px;
        height: 480px;
        max-width: 443px;
        .regularh2 {
            font-family: $florenceSans;
            text-transform: none;
        }

        .italich2{
            font-family: $florenceSans;
            font-style: italic;
            text-transform: none;
        }
        .border-bottom{
            padding-bottom: 24px;
            border-bottom: 0.5px grey solid;
        }

        .bottom-part {
            margin-top: 24px;
        }

        .soc-icon{
            width: 28px;
        }
    
    }

    .signage{
        display: flex;
        align-items: center;
        gap: 8px;
        .content{
            margin-bottom: 0;
        }
    }
    
    .icon-contact{
        margin-bottom: 12px;
        @include basicFlex();
        gap: 8px;
        .content{
            margin-bottom: 0;
        }

    }
    
}

@keyframes fadein{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
    }
}

.map{
    animation: fadein 3000ms;
    // transition-delay: 5000ms;
    background-image: url(../../assets/map.svg);
    position: absolute;
    height: 913px;
    width: 1230px;
    background-size: 120%;
    left: 335px;
    bottom: 76px;
    z-index: 0;
    .point-nav{

        .projects{
            position: relative;
            top: 301px;
            left: 633px;
        }
        
        .case-studies{
            position: relative;
            top: 426px;
            right: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .point-link{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .web-design{
            position: relative;
            top: 410px;
            left: 171px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .point-link{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }





        .about{
            position: relative;
            top: 484px;
            left: 386px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .point-link{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        }
        .funstuff{
            position: relative;
            top: 557px;
            right: 73px;
            display: flex;
        flex-direction: column;
        align-items: center;
            .point-link{
                display: flex;
                flex-direction: column;
                align-items: center;
        }

        }

    }
}

.point-link:hover{
    .point-text{
        font-family: $florenceBlack;
        font-size: 24px;
    }
    .point-icon{
        background-image: url(../../assets/point-hover.svg);
        background-size: cover;
        .point{
            visibility: hidden;
        }
    }
    
}





// MOBILE
@media screen and (max-width: 562px)  {
    .hide{
        display: none !important;
    }
    
    .show {
        display: block;
    }

    .space{
        display: block !important;
    }

    .screen{
        height: auto;
        background-image: none;
    }

    .mob-text{
        padding: 12px 12px !important;
        .content{
            margin-bottom: 0;
        }
    }

    .margin-top-24{
        margin-top: 24px;
    }

    .welcome-message{
        border: 0px solid grey !important;
        background-color: #ffffff00 !important;
        padding: 0 12px !important;
    }

    .border-bottom{
        border: 0px;
        margin-bottom: 0;
    }

    .border-bottom-mob{
        padding-bottom: 24px;
         border-bottom: 0.5px grey solid;
         
    }

    }